{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/create.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <title>create_page</title>
  </head>
  <body id="body">
    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <!-- <img
            src=""
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          /> -->

          IForms
        </a>
        <div class="options">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop2"
            id="openleftcanvas"
          >
            add a multiple choice section
          </button>

          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            id="openCanvas"
          >
            create input section
          </button>
        </div>
      </div>
    </nav>
    <!-- navbar -->

    <!-- rightcanvas -->

    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              create a inputs section
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="closeCanvas"
            ></button>
          </div>
          <div class="modal-body" id="canvasBody"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <!-- rightcanvas -->

    <!-- leftCanvas -->

    <div
      class="modal fade"
      id="staticBackdrop2"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              multiple choice section
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="closemulti"
            ></button>
          </div>
          <div class="modal-body" id="leftcanvas"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <!--  leftCanvas-->

    <!-- createButton -->

    <!-- createButton -->

    <div class="container">
      <form action="" id="myForm"></form>
    </div>

    <button><a href="{% url 'created' %}">created</a></button>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
